<?xml version="1.0" encoding="UTF-8"?>
<!-- /*********************************************************************************
* ITE5332 : Project
* I declare that this assignment is my own work in accordance with Humber Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: Saloni Yadav, Preeti Kshirsagar; Student ID: N01414159, N01494576; Date: 6 Dec, 2021
*
********************************************************************************/-->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<error-page>  
	  	<!-- Missing resource -->
	  	<error-code>404</error-code>
	  	<location>/error.jsp</location>
	</error-page>
	<error-page>
	    <!-- Uncaught exception -->
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
	    <!-- Invalid method -->
		<error-code>405</error-code>
		<location>/error.jsp</location>
	</error-page>
	<welcome-file-list>
	  	<!-- Entry point for application -->
		<welcome-file>/login_registration.jsp</welcome-file>
	</welcome-file-list>
</web-app>